<footer class="pt-5 my-5 text-muted border-top">
    <ul class="list-unstyled">
        <li>Created by Roger Gros</li>
        <li><a target="_blank" href="https://iconos8.es/icon/Y3ieDwRhlOhf/bowling">Bowling</a> icon from <a target="_blank" href="https://iconos8.es">Icons8</a></li>
    </ul>
</footer>
