{% extends "base.html.twig" %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .Container {
            display: flex;
            align-items: center;
        }

        table.Scorecard {
            margin: 0 auto;
            width:100%;
            font-size:12px;
            border:1px solid;
            text-align: center;
            table-layout: fixed;
        }

        table.Scorecard th, tr, td {
            padding: 0;
            vertical-align: middle;
            font-weight: bold;
        }

        table.Scorecard th {
            border-bottom:1px solid;
            background-color:#D3D3D3;
            height:30px;
        }

        table.Scorecard th:not(:last-child) {
            border-right:1px solid;
        }

        table.Scorecard td {
            height:30px;
        }

        table.Scorecard tr td:not(:last-child) {
            border-right:1px solid;
        }

        table.Scorecard tr:nth-child(2) td:nth-child(even) {
            border-bottom:1px solid;
        }

        table.Scorecard tr:nth-child(2) td:last-child {
            border-bottom:1px solid;
        }

        table.Scorecard #r21 {
            border-bottom: 1px solid;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="{{ url("web.home") }}" class="d-flex align-items-center text-dark text-decoration-none">
                <img class="me-2" src="/img/bowling.png" height="30">
                <span class="fs-4">Bowling management</span>
            </a>
        </header>

        <main>
            <h1>Bowling Alley 1 - Lane 2</h1>

            <small class="opacity-50 text-nowrap">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Ongoing</span>
                </div>
                Started at 13:45 / 2 Players
            </small>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Next roll</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Player 2</h6>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button">0</button>
                        <button class="btn btn-primary" type="button">1</button>
                        <button class="btn btn-primary" type="button">2</button>
                        <button class="btn btn-primary" type="button">3</button>
                        <button class="btn btn-primary" type="button">4</button>
                        <button class="btn btn-primary" type="button">5</button>
                        <button class="btn btn-primary" type="button">6</button>
                        <button class="btn btn-primary" type="button">7</button>
                        <button class="btn btn-primary" type="button">8</button>
                        <button class="btn btn-primary" type="button">9</button>
                        <button class="btn btn-primary" type="button">10</button>
                    </div>
                </div>
            </div>


            <h2 class="mb-3 mt-4">Scoreboard</h2>

            <ul class="list-unstyled">
                <li class="mb-3">
                    <h3>Player 1</h3>
                    <table id='table' class='Scorecard' cellPadding='1' cellSpacing='0'>
                        <tbody>
                        <tr>
                            <th id='c1' colSpan='6'>Frame 1</th>
                            <th id='c2' colSpan='6'>Frame 2</th>
                            <th id='c3' colSpan='6'>Frame 3</th>
                            <th id='c4' colSpan='6'>Frame 4</th>
                            <th id='c5' colSpan='6'>Frame 5</th>
                            <th id='c6' colSpan='6'>Frame 6</th>
                            <th id='c7' colSpan='6'>Frame 7</th>
                            <th id='c8' colSpan='6'>Frame 8</th>
                            <th id='c9' colSpan='6'>Frame 9</th>
                            <th id='c10' colSpan='6'>Frame 10</th>
                        </tr>
                        <tr>
                            <td id='r1' colSpan='3'>0</td><td id='r2' colSpan='3'>0</td>
                            <td id='r3' colSpan='3'>0</td><td id='r4' colSpan='3'>0</td>
                            <td id='r5' colSpan='3'>0</td><td id='r6' colSpan='3'>0</td>
                            <td id='r7' colSpan='3'>0</td><td id='r8' colSpan='3'>0</td>
                            <td id='r9' colSpan='3'>0</td><td id='r10' colSpan='3'>0</td>
                            <td id='r11' colSpan='3'>0</td><td id='r12' colSpan='3'>0</td>
                            <td id='r13' colSpan='3'>0</td><td id='r14' colSpan='3'>0</td>
                            <td id='r15' colSpan='3'>0</td><td id='r16' colSpan='3'>0</td>
                            <td id='r17' colSpan='3'>0</td><td id='r18' colSpan='3'>0</td>
                            <td id='r19' colSpan='2'>0</td><td id='r20' colSpan='2'>0</td><td id='r21' colSpan='2'>0</td>
                        </tr>
                        <tr>
                            <td id='cumulative-score-f1' colSpan='6'>0</td>
                            <td id='cumulative-score-f2' colSpan='6'>0</td>
                            <td id='cumulative-score-f3' colSpan='6'>0</td>
                            <td id='cumulative-score-f4' colSpan='6'>0</td>
                            <td id='cumulative-score-f5' colSpan='6'>0</td>
                            <td id='cumulative-score-f6' colSpan='6'>0</td>
                            <td id='cumulative-score-f7' colSpan='6'>0</td>
                            <td id='cumulative-score-f8' colSpan='6'>0</td>
                            <td id='cumulative-score-f9' colSpan='6'>0</td>
                            <td id='cumulative-score-f10' colSpan='6'>0</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h3>Player 2</h3>
                    <table id='table' class='Scorecard' cellPadding='1' cellSpacing='0'>
                        <tbody>
                        <tr>
                            <th id='c1' colSpan='6'>Frame 1</th>
                            <th id='c2' colSpan='6'>Frame 2</th>
                            <th id='c3' colSpan='6'>Frame 3</th>
                            <th id='c4' colSpan='6'>Frame 4</th>
                            <th id='c5' colSpan='6'>Frame 5</th>
                            <th id='c6' colSpan='6'>Frame 6</th>
                            <th id='c7' colSpan='6'>Frame 7</th>
                            <th id='c8' colSpan='6'>Frame 8</th>
                            <th id='c9' colSpan='6'>Frame 9</th>
                            <th id='c10' colSpan='6'>Frame 10</th>
                        </tr>
                        <tr>
                            <td id='r1' colSpan='3'>0</td><td id='r2' colSpan='3'>0</td>
                            <td id='r3' colSpan='3'>0</td><td id='r4' colSpan='3'>0</td>
                            <td id='r5' colSpan='3'>0</td><td id='r6' colSpan='3'>0</td>
                            <td id='r7' colSpan='3'>0</td><td id='r8' colSpan='3'>0</td>
                            <td id='r9' colSpan='3'>0</td><td id='r10' colSpan='3'>0</td>
                            <td id='r11' colSpan='3'>0</td><td id='r12' colSpan='3'>0</td>
                            <td id='r13' colSpan='3'>0</td><td id='r14' colSpan='3'>0</td>
                            <td id='r15' colSpan='3'>0</td><td id='r16' colSpan='3'>0</td>
                            <td id='r17' colSpan='3'>0</td><td id='r18' colSpan='3'>0</td>
                            <td id='r19' colSpan='2'>0</td><td id='r20' colSpan='2'>0</td><td id='r21' colSpan='2'>0</td>
                        </tr>
                        <tr>
                            <td id='cumulative-score-f1' colSpan='6'>0</td>
                            <td id='cumulative-score-f2' colSpan='6'>0</td>
                            <td id='cumulative-score-f3' colSpan='6'>0</td>
                            <td id='cumulative-score-f4' colSpan='6'>0</td>
                            <td id='cumulative-score-f5' colSpan='6'>0</td>
                            <td id='cumulative-score-f6' colSpan='6'>0</td>
                            <td id='cumulative-score-f7' colSpan='6'>0</td>
                            <td id='cumulative-score-f8' colSpan='6'>0</td>
                            <td id='cumulative-score-f9' colSpan='6'>0</td>
                            <td id='cumulative-score-f10' colSpan='6'>0</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>

        </main>
        {% include 'component/footer.html.twig' %}
    </div>
{% endblock %}
